/*
Färgkoder:
#f4f3ef
#e7b60d
#e5a213
#e48e19
#e37b1f
*/
@import url("https://fonts.googleapis.com/css2?family=Agbalumo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}

.logo {
  width: 100px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #e37b1f;
  font-size: 1.3rem;
  margin-left: 1.5rem;
}

nav a:hover {
  color: #e7b60d;
}

nav {
  margin-right: 2rem;
}

.hero,
.pizzamenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  border-top: 2px solid #e37b1f;
}

.pizza_img {
  transform: rotate(360deg);
  transition: 1s ease-in-out;
  animation-duration: infinite;
}

h1 {
  font-size: 5rem;
  font-family: "Agbalumo";
  background: -webkit-linear-gradient(#e7b60d, #e37b1f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Agbalumo";
  color: #e7b60d;
  margin: 1.5rem;
}

.pizzamenu {
  background-color: #e7b60d;
  padding: 2rem;
  height: auto;
}

.img_container {
  width: 10rem;
  background-position: center;
  background-size: cover;
  height: 10rem;
  margin: 1rem;
}
.peperoni {
  background-image: url(./assetts/carissa-gan-_0JpjeqtSyg-unsplash.jpg);
}
.hawaii {
  background-image: url(./assetts/chad-montano-MqT0asuoIcU-unsplash.jpg);
}
.vegetarian {
  background-image: url(./assetts/crazy-cake-YgwXqOdLwOE-unsplash.jpg);
}

footer {
  height: 5vh;
  background-color: #e37b1f;
}

@media (min-width: 786px) {
  .pizzamenu {
    flex-direction: row;
  }
}
